html {
    background-color: lightsteelblue;
    display: table;
}

head {
    font-family: sans-serif;
    color: steelblue;
    text-shadow: steelblue;
    clear: both;
    text-indent: 50px;
    border-bottom-style: bottom;
    border-color: steelblue;
    margin-top: 0px;
    margin: 20px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
}
.sidenav{
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
}
.header{
    background-image: linear-gradient(white ,lightsteelblue, lightsteelblue);
    margin-top: 0;
    border-bottom: 5px solid steelblue;
    border-top: 5px solid steelblue;
    margin: 20px;
    padding-left: 30px;
    padding-right: 30px;
}

.header img {
  float: left;
}

.header h3{
    text-indent: 50px;
}

.header h1 {
  text-indent: 50px;
  font-style: italic;
}
body {
    font-family: sans-serif;
    max-width: 1000px;
    width: 100%;
    border-style: solid;
    border-color: steelblue;
    box-shadow: 6px 6px 6px black;
    margin: 20px;
    padding-left: 30px;
    padding-right: 30px;
    display: table-cell;
    vertical-align: middle;
}

section a:link, section a:visited {
    color: maroon;
}
section a:hover, section a:active {
    color: steelblue;
}

aside a:link, aside a:visited {
    color: steelblue;
    font-weight: bold;
    line-height: 200%
}
aside a:hover, aside a:active {
    color: maroon;
    line-height: 200%
}
footer p{
    height: 30px;
    line-height: 30px;
    font-size: 75%;
    margin-bottom: 0px;
    background: steelblue;
    color: white;
    text-align: center;
    margin: 20px;
    padding-left: 30px;
    padding-right: 30px;
}
