.header {
    font-family: sans-serif;
    font-style: italic;
    color: steelblue;
    text-shadow: 2px 2px #0047AB;
    clear: both;
}
.header img {
  float: left;
}

.header h1 {
  text-indent: 50px;
}
.body {
    font-family: sans-serif;
}
section a:link, section a:visited {
    color: maroon;
}
section a:hover, section a:active {
    color: steelblue;
}

aside a:link, aside a:visited {
    color: steelblue;
    font-weight: bold;
}
aside a:hover, aside a:active {
    color: maroon;
}
