.header {
    font-family: sans-serif;
    font-style: italic;
    color: steelblue;
    text-shadow: steelblue;
    clear: both;
    text-indent: 50px;
}
.header img {
  float: left;
}

.header2 h3{
    text-indent: 50px;
}

.header h1 {
  text-indent: 50px;
}
.body {
    font-family: sans-serif;
    max-width: 1000px;
    width: 100%;
    border-style: solid;
    border-color: steelblue;
    box-shadow: black;
}

section a:link, section a:visited {
    color: maroon;
}
section a:hover, section a:active {
    color: steelblue;
}

aside a:link, aside a:visited {
    color: steelblue;
    font-weight: bold;
    line-height:200%
}
aside a:hover, aside a:active {
    color: maroon;
    line-height:200%
}
footer p{
    font-size: 75%;
    text-align: center;
}
